form div.input.error{
	color:#B94A48;
}

form div.input.error .checkbox, form div.input.error .radio, form div.input.error input, form div.input.error select, form div.input.error textarea {
	color: #B94A48;
	border-color: #B94A48;
}

.form-horizontal  .help-block{
	display: inline-block;
	margin-bottom: 0;
	padding-left: 5px;
	vertical-align: middle;
}
